<!DOCTYPE html>
<html>
<head>
    <title>Login - Movie Review Platform</title>
</head>

<body>

    <h1>Movie Review & Rating Platform</h1>

    <h2>Login</h2>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="POST">
        {% csrf_token %}

        <label>Username</label><br>
        <input type="text" name="username" autocomplete="off">
        <br><br>

        <label>Password</label><br>
        <input type="password" name="password" autocomplete="new-password" required>
        <br><br>

        <button type="submit">Login</button>
    </form>

    <p>
        Don't have an account?
        <a href="{% url 'register' %}">Register</a>
    </p>

</body>
</html>