<!DOCTYPE html>
<html>
<head>
    <title>{{ movie.title }} - Reviews</title>
</head>

<body>

    <a href="{% url 'home' %}">
        Home
    </a>

    <h1>{{ movie.title }} - Reviews</h1>

    <p>
        Average Rating:
        ⭐ {{ movie.average_rating }}/5
    </p>

    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

    <hr>

    <h2>User Reviews</h2>

    {% for item in reviews %}

        <div>

            <strong>
                {{ item.user.username }}
            </strong>

            <p>
                {{ item.review }}
            </p>

            <small>
                {{ item.created_at }}
            </small>

        </div>

        <hr>

    {% empty %}

        <p>No reviews yet.</p>

    {% endfor %}


    {% if user.is_authenticated %}

        {% if user_reviewed %}

            <h3>You have already submitted your review.</h3>

        {% else %}

            <h2>Add Your Review</h2>

            <form
                method="POST"
                action="{% url 'add_review' movie.id %}"
            >

                {% csrf_token %}

                <label>Rating</label>

                <select name="rating" required>
                    <option value="">Select Rating</option>
                    <option value="1">1 - Poor</option>
                    <option value="2">2 - Fair</option>
                    <option value="3">3 - Good</option>
                    <option value="4">4 - Very Good</option>
                    <option value="5">5 - Excellent</option>
                </select>

                <br><br>

                <label>Review</label>

                <br>

                <textarea
                    name="review"
                    rows="5"
                    cols="50"
                    required
                ></textarea>

                <br><br>

                <button type="submit">
                    Submit Review
                </button>

            </form>

        {% endif %}

    {% else %}

        <p>
            <a href="{% url 'login' %}">
                Login
            </a>
            to write a review.
        </p>

    {% endif %}

</body>
</html>